{% extends 'base.html' %}
{% block content %}
<h1>{{tag.name}}</h1>

<ul>
    {% for post in posts %}
    <li><a href="/posts/{{ post.id }}">{{post.title}}</a></li>
    {% endfor %}
</ul>
<div style="display:inline-block">
    <a href="/tags/{{ tag.id }}/edit"><button type="button"
            style="display:inline-block; background-color: blue; color:white">edit</button></a>
</div>
<form action="/tags/{{tag.id}}/delete" , method="Post" style="display:inline-block">
    <input type="submit" value="Delete" name="delete-user" style="color: white; background-color:red;" />
</form>


{% endblock %}